.panel {
  --panel-width: 750px;
  --panel-padding: 10px;

  &-inner {
    max-width: calc(var(--panel-width) + 2 * var(--panel-padding));
    padding: var(--panel-padding);
    padding-top: 8px;
    padding-bottom: 18px;
  }
}