@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lofi-menu-height:60px;
  --lofi-panel-position:calc(var(--lofi-menu-height) + 10px);
  --gap-container:20px;
  --w-screen-padding:calc(100vw - 20px * 2);
}

.scrollbar-hidden {
  scrollbar-width:none;
}

body::-webkit-scrollbar,
.custom-scroll-bar::-webkit-scrollbar {width:3px;}
body::-webkit-scrollbar-track,
.custom-scroll-bar::-webkit-scrollbar-track {background:#ccc;}
body::-webkit-scrollbar-thumb,
.custom-scroll-bar::-webkit-scrollbar-thumb {background-color:var(--primary-color);}

.close-effect {
  clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
}

.open-effect {
  clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slow-effect-duration {
  transition-duration:1s;
}

@layer components {
  .glass-card {
    @apply p-2 border border-[rgba(255,255,255,0.4)] rounded-xl bg-[rgba(255,255,255,0.3)] backdrop-blur-[10px];
  }
}
